<div class="userProfileLeft">
  <% if (@user.image == ('')) %>
  <%=  image_tag('http://www.fillmurray.com/200/200') %>
  <% else %>
  <%= image_tag(@user.image) %>
  <% end %>
</div>

<div class="userProfileRight">
  <h2>Name: <%= @user.name %></h2>
  <h3>Born: <span><%= @user.dob.strftime '%A %e %B, %Y' %><span></h3>
  <h3>Instruments: <span><%= @user.instruments %><span></h3>
  <h3>Genre Interests: <span><%= @user.interests %><span></h3>
  <h3>Website: <span><%= link_to("Visit their website ", @user.website) %><span></h3>
</div>
