
<% if @current_user %>
<h1>Welcome to the music room <%= @current_user.name %>! </h1>

    <% @locations.each_with_index do |user, index| %>
    <ul>
      <div class="locatedUsers">
        <div class="locatedUsersContainerLeft">
          <div class="locatedUserImageContainer">
            <li><%= image_tag(user.image, :class => "userImage") %></li>
          </div>
        </div>
        <div class="locatedUsersContainerRight">
          <h3>Name:</h3>
          <li><%= link_to(user.name, user) %></li>
          <h3>Instruments:</h3>
          <li><%= user.instruments %></li>
          <h3>Genre interests:</h3>
          <li><%= user.interests %></li>
          <li class="messageButton"><%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-discussion",
            "data-sid" => @current_user.id, "data-rip" => user.id %></li>
        </div>
            <!-- The Hash is in the link above because it's an ajax request and we don't actually want to follow any link. -->
        </li>

      </div>
    </ul>
<% end %>
    

<% else %>
<div class="frontPage">
  <div class="welcomeMessage">
    <h1>Welcome to the Music Room!</h1>
  </div>

  <div class="information">
    <div class="informationLeft">
      <h2>What is it?!</h2>
    </div>
    <div class="informationRight">
      <p>Music room is an app which connects local musicians to other like minded people around their area. Giving them a place to chat and meet and do other musical things.</p>
    </div>
  </div>

  <div class="howItWorks">
    <div class="howItWorksRight">
      <p>Music Room uses geolocation to find your approximate area then returns the data of users who are within a 200km radius. Once you're logged in it will gather all of the local musicians and give you the ability to start chatting</p>
    </div>
    <div class="howItWorksLeft">
      <h2>How does it work?!</h2>
    </div>
  </div>

  <div class="whyUseIt">
    <div class="whyUseItRight">
      <h2>Why use it?</h2>
    </div>
    <div class="whyUseItLeft">
      <p>So I have someone else to talk to on there. There is only so much you can say to yourself. Also the chat took a long time to get working so it would be nice if someone actually decided to use it for some chatting instead of just saying mean things to test it. I didn't mean the things I said Barry.</p>
    </div>
  </div>

</div>

<% end %>