
<% if @current_user %>
<h1>Welcome to the music room <%= @current_user.name %>! </h1>
<ol>
  <% @locations.each do |loc| %>
      <li>
        <%= link_to(loc.name, loc) + ', ' %>
        <%= loc.instruments %>
      </li>
    <% end %>

    <% @locations.each_with_index do |user, index| %>
    <ul>
      <li><%= user.name %></li>
      <li>
        <%= link_to "Send Message", discussions_path, class: "btn btn-success btn-xs start-discussion",
          "data-sid" => @current_user.id, "data-rip" => user.id %>
      </li>
    </ul>
<% end %>
    

<% else %>

<h1>Welcome to the music room!</h1>
<p>Sign up to search your area for delicious musicians</p>

<% end %>