<!DOCTYPE html>
<html>
<head>
  <title>Music Room</title>
  <meta content='<%= @user_signed_in?  current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<nav>
  <ul>
  <li><%= link_to('Home', root_path) %></li>
    <%== intellinav %>
  </ul>
</nav>
<body>
  <div class="container">

    <% if flash[:notice].present? %>
      <h2 class="failedNotice"><%= flash[:notice] %></h2>
    <% end %>

    <%= yield %>
    <audio id="chatAudio"><source src="/assets/messagesound.mp3" type="audio/mpeg"></audio>
  </div>

<!-- <footer></footer> -->


</body>
</html>
